.fixedContent{
    margin-top: 8%;
    margin-left: 3%;
}

.title-exercise{
    font-family: 'Gottam Rounded', sans-serif;
    font-size: x-large;
}

.title-cards{
    font-family: 'Gottam Rounded', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.card-header-color{
    background-color:#0C2D48;
}

.exercise-details{
    font-size: 110%;
}

.examples-title{
    font-weight:500;  
}

.examples-header-color{
    background-color:#576f7c;
}

.card-details{
    padding: 0;
    margin: 0;
    width: 100%;
}

pre{ 
    white-space:pre-wrap;
    overflow: auto;
    Word-break: break-Word;
}

