<div class="fixedContent">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h2 class="title-categories">Niveles de dificultad</h2>
                <div class="card" style="width:100%">
                    <button class="btn custom-button " (click)="verEjerciciosNivel('1')">
                        <div class="card-header pt-1 pb-1 title-cards card-header-color text-center text-white">
                            Nivel 1
                        </div>
                    </button>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/img/numbers/1.png" class="images" alt="listas">
                            </div>
                            <div class="col-11 padding-categories">
                                <p class="categories-details"><b>Descripción:</b> En esta nivel se encuentra aquellos
                                    ejercicios cuya dificultad se clasifica como de 1.
                                </p>
                                <p class="categories-details"><b>Cantidad de ejercicios:</b> {{nivel1}}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card mt-2" style="width:100%">
                    <button class="btn custom-button " (click)="verEjerciciosNivel('2')">
                        <div class="card-header pt-1 pb-1 title-cards card-header-color text-center text-white">
                            Nivel 2
                        </div>
                    </button>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/img/numbers/2.png" class="images" alt="condicionales">
                            </div>
                            <div class="col-11 padding-categories">
                                <p class="categories-details"><b>Descripción:</b> En esta nivel se encuentra aquellos
                                    ejercicios cuya dificultad se clasifica como de 2.</p>
                                <p class="categories-details"><b>Cantidad de ejercicios:</b> {{nivel2}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2" style="width:100%">
                    <button class="btn custom-button " (click)="verEjerciciosNivel('3')">
                        <div class="card-header pt-1 pb-1 title-cards card-header-color text-center text-white">
                            Nivel 3
                        </div>
                    </button>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/img/numbers/3.png" class="images" alt="numericos">
                            </div>
                            <div class="col-11 padding-categories">
                                <p class="categories-details"><b>Descripción:</b> En esta nivel se encuentra aquellos
                                    ejercicios cuya dificultad se clasifica como de 3.</p>
                                <p class="categories-details"><b>Cantidad de ejercicios:</b> {{nivel3}}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mt-2" style="width:100%">
                    <button class="btn custom-button " (click)="verEjerciciosNivel('4')">
                        <div class="card-header  pt-1 pb-1 title-cards card-header-color text-center text-white">
                            Nivel 4
                        </div>
                    </button>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/img/numbers/4.png" class="images" alt="condicionales">
                            </div>
                            <div class="col-11 padding-categories">
                                <p class="categories-details"><b>Descripción:</b> En esta nivel se encuentra aquellos
                                    ejercicios cuya dificultad se clasifica como de 4.</p>
                                <p class="categories-details"><b>Cantidad de ejercicios:</b> {{nivel4}}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card mt-2" style="width:100%">
                    <button class="btn custom-button " (click)="verEjerciciosNivel('5')">
                        <div class="card-header  pt-1 pb-1 title-cards card-header-color text-center text-white">
                            Nivel 5
                        </div>
                    </button>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/img/numbers/5.png" class="images" alt="condicionales">
                            </div>
                            <div class="col-11 padding-categories">
                                <p class="categories-details"><b>Descripción:</b> En esta nivel se encuentra aquellos
                                    ejercicios cuya dificultad se clasifica como de 5.</p>
                                <p class="categories-details"><b>Cantidad de ejercicios:</b> {{nivel5}}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>