.fixedContent{
    margin-top: 8%;
}

.titles{
    font-family: 'Gottam Rounded', sans-serif;
    font-size: 18px;
    font-weight: 200;
    width: 22%;
}

.title-new{
    font-family: 'Gottam Rounded', sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.dropdown-color{
    background-color:#576f7c;
}

.button-add{
    width: 15%;
    height: 10%;
}

.button-outputs{
    margin-left: 2.9%;
    margin-right: 20%;
    padding: auto;
}

.button-examples{
    margin-left: 11.5%;
}

.titles-array{
    width: 22%;
}

/**/

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
    .contenedor-formulario {
      width: 400px;
    }
  
    .download {
      background: #1081ff;
      color: #FFFFFF;
      padding: 10px 20px;
      margin-bottom: 20px;
    }
     .download a {
        text-decoration: underline;
        color: #FFFFFF;
      }
    
  

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background : blue;
}

    
  