<div class="container">


<div class="row ">
<div class="col-7 ">
    <div class="card border pb-3">
        <div class="card-body">
          <h2 class="titleCard">Ejercicios de Programación</h2>
        </div>
        <div class="row">
            <div class="col">
                <button *ngIf="isAdmin" type="button" class="btn btn-primary newExercise ml-3">Añadir nuevo!</button>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="form-outline">
                      <input type="search" id="form1" placeholder="Busca un ejercicio" class="form-control searchExercises" />
                    </div>
                    <button type="button" class="btn btn-primary ml-5">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
            </div>


        </div>

      </div>
</div>
<div class="col-5">
    <div class="card recentPosts">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
</div>
</div>
</div>