<div class="container fixedContent">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 mt-5">
            <div class="displayTable">
                <div class="displayTableCell">
                    <div class="card">
                        <div class="card-body">
                            <div class="authBlock">
                                <h3 class="titles">Olvidó su contraseña</h3>

                                <div class="formGroup">
                                    <input type="email" class="form-control mb-2" placeholder="Email Address"
                                        #passwordResetEmail required>
                                </div>
                                <div class="formGroup">
                                    <input type="submit" class="btn btn-primary btn-block" value="Reset Password"
                                        (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>