<nav class="navbar navbar-expand-md fixed-top  justify-content-center navbar-app p-4 header circle">
    <div class="d-flex justify-content-center ">
        <a class="navbar-brand text-white logoFont pt-2" href="#">
            PROGRAMATEC
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navy" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="home">HOME</a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="categorias">CATEGORIAS</a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="niveles">NIVELES</a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="sign-in">INGRESAR</a>
                </li>

                <li>
                    <div class="input-group ml-4 mt-1">
                        <input type="search" class="form-control rounded" placeholder="Busca un ejercicio..."
                            aria-label="Search" aria-describedby="search-addon" />
                        <button type="button"
                            class="btn btn-outline-primary ml-2 text-white border border-white">Buscar</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>